<div *ngIf="characterAndItsMovies$ | async as data">

  <div class="movie-character-details">

    <div *ngIf="!data.character; else character" class="spinner-container">
      <mat-spinner></mat-spinner>
    </div>

    <ng-template #character>
      <div class="movie-details-head">
        <h2 class="title">{{ data.character?.name }}</h2>
        <h4 class="date">{{ data.character?.gender }}</h4>
      </div>
    </ng-template>

    <div *ngIf="loadingMovies$ | async; else movies" class="spinner-container">
      <mat-spinner></mat-spinner>
    </div>

    <ng-template #movies>
      <h3>Movies:</h3>

      <div class="movies-characters">
        <div class="movie-character" *ngFor="let movie of data.movies"
          (click)="fetchSingleMovie(movie.url)">
          <p>{{movie.title}}</p>
        </div>
      </div>
    </ng-template>
  </div>
</div>