@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #bebebe;
  font-family: "Roboto Flex", sans-serif;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.movie-character-details {
  background: linear-gradient(#351f1f, #000000);
  color: #fff;
  padding: 25px;
  max-width: 600px;
  margin: 0 auto;
  border-radius: 8px;

  .title {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 10px;
    color: rgb(235, 246, 164);
  }

  .date {
    color: #a0a0a0;
    margin-bottom: 16px;
  }

  .opening-crawl {
    margin-bottom: 20px;
  }

  h3 {
    color: rgb(207, 212, 175);
  }

  .movies-characters {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    margin-top: 10px;

    .movie-character {
      border: 1px solid #868686;
      background-color: #1d1d1d;
      border-radius: 20px;
      padding: 6px 10px;
      cursor: pointer;
      color: #d4d4d4;
      transition: all .2s ease-in-out;

      &:hover {
        background-color: #dddddd;
        color: #1d1d1d;
      }
    }
  }

}
